[submodule ".sdk-repos/sdk-javascript-v5"]
	path = .repos/sdk/sdk-javascript-5
	url = https://github.com/kuzzleio/sdk-javascript.git
[submodule ".plugin-repos/kuzzle-plugin-s3-v1"]
	path = .repos/plugin/kuzzle-plugin-s3-1
	url = https://github.com/kuzzleio/kuzzle-plugin-s3.git
[submodule ".sdk-repos/sdk-android-v3"]
	path = .repos/sdk/sdk-android-3
	url = https://github.com/kuzzleio/sdk-android.git
[submodule ".sdk-repos/sdk-javascript-v6"]
	path = .repos/sdk/sdk-javascript-6
	url = https://github.com/kuzzleio/sdk-javascript.git
[submodule ".sdk-repos/sdk-php-v3"]
	path = .repos/sdk/sdk-php-3
	url = https://github.com/kuzzleio/sdk-php.git
[submodule ".plugin-repos/kuzzle-plugin-cloudinary-v1"]
	path = .repos/plugin/kuzzle-plugin-cloudinary-1
  url = https://github.com/kuzzleio/kuzzle-plugin-cloudinary.git
[submodule ".sdk-repos/sdk-cpp-1"]
	path = .repos/sdk/sdk-cpp-1
	url = https://github.com/kuzzleio/sdk-cpp
[submodule ".sdk-repos/sdk-csharp-1"]
	path = .repos/sdk/sdk-csharp-1
	url = https://github.com/kuzzleio/sdk-csharp
[submodule ".sdk-repos/sdk-go-1"]
	path = .repos/sdk/sdk-go-1
	url = https://github.com/kuzzleio/sdk-go
	branch = 1-stable
[submodule ".sdk-repos/sdk-go-2"]
	path = .repos/sdk/sdk-go-2
	url = https://github.com/kuzzleio/sdk-go
[submodule ".sdk-repos/sdk-java-1"]
	path = .repos/sdk/sdk-java-1
	url = https://github.com/kuzzleio/sdk-java
	branch = 1-stable
[submodule ".sdk-repos/sdk-java-2"]
	path = .repos/sdk/sdk-java-2
	url = https://github.com/kuzzleio/sdk-java
[submodule ".repos/kuzzle-1"]
	path = .repos/kuzzle-1
	url = https://github.com/kuzzleio/kuzzle
