language: node_js
node_js: 10

services:
  - docker

env:
  global:
    - AWS_S3_BUCKET=docs-next.kuzzle.io
    - TRAVIS_S3_BUCKET=travis-cache.kuzzle.io
    - REPORT_S3=dl.kuzzle.io
    - AWS_CLOUDFRONT_DISTRIBUTION_ID=E2ZCCEK9GRB49U
    # ALGOLIA_WRITE_KEY
    - secure: mwbfknkwzXmtGObr9pclB9z930GSuLydJiac1/o/m53oNkL1YqUOFmCsfZ8XFmQCIpqWVWMnKmoXgTXvSOx551IBYakGDkil/O988pmX7/Z2r4n6ONvWbj1oCciCsH6zsZ4u28R0cZ6ELiZXdiSjz+bjRtbS70lOxVHZAp9HFPBXymIa6ala683l1uMejDfDFtCc0zi7Qi69TLxj+x7ggroUhWbzg5P2J0RfnpYy+KifMcbz1hmhqNTJpvGRmYBHf6GFgcOCc78z14Aay8IVQjdVMBA3AgnqhquS97PQis+gsHRpKn5rCSj4jncTz+Xa3xfz52tZ5ElsyZSi9Qio4k3GOK/SCocjS+gbr3qdVc1BOPBkhYmwkgYVFnzKx+T+87zqnZ809SdhQa1K3pXblMenjYVPGLxt242yPwNlQfdLAbmTaahmzWTfEgSzCoqjy6EcdwFHwUC/pqCBBfSlNKKfqLIfwgR/4b5j4o2F+GjKk64qnii3uVkGShuT15tB6vAvqbLrUr2/dWQC4ORXgyZqYxuGvQVmgJ8zVqQFcC16U+eVQQYqshfInwLVcU9RFrLj37ekiEgFkklV2dggVr3gVTEEPZPlkpMHn1kP/69VkMcEyP48DBHJ8Qi26EFaH7bviuXehnK9f9HzhqC3t/q8NLr/w07izHu9yzlS9V8=
    # AWS_DEFAULT_REGION
    - secure: "KROyGh8p/Mpo/zukQW8KlRHwNIQHtGimgznZDdbHvY8Khl673FJ1808E26GmscEKiDo/D57VaGSvyOdtMpuXSStU0/DOGjg3yMGmmuV5CGMMkczmDrllIC8THfs1H6Q4HAVmK+uL/jfbQ0df7zW3Y5zqAjSWcM6OlBzKGH8ViBitL1WSQQmnCDxgzGfYVJeCxp5LTLWIXUW6GN4EDG+Je+GQtz7wPkoaHhcc6ptj/wRM9E6SCWOs6Ds0pcHt2OdwulZK/eHr4gQWGrevycL56pa/OsvudeyXmdcsHZye1G2VczwNsK0wyopgV3dkZ0+UwWeusCsieNqlcgmdvIN+o0gZkosmh1Q0UT45M6HomReViRAQUBMqtxYIEwPagLmhQ7PWOfDOUpku4nqOTqtSo7UzTkPTCkrwq4k9a4shOrugIkkCzAWB3myML2eEcbb7Rbf7W8fvPf9/kw0XFgFRpi3+R2/C9vzip3Tri2XSsaxS9Uodbt+ctcbzEaobHHh30nDAy/UhLXIg3kbEa254JfZ9ryhR+DzNfJ8U8Rff/BoGdjovAdLJXb6i6zUtbi4tEGz1qZhfj3rhxk7pE2WWATyJMnwH7dgOcKi2cHLol65mu9lLftq+d+EpNgCuhF0jmmBDW0D4aPyebwNaQAG5Kw0RjwvIkSPp78Rhpgy3iQE="
    # AWS_ACCESS_KEY_ID
    - secure: "JMrU3t0gjQigsenQYEI/+pEodzH8F8LXbkUoM3qh0PNPvKRSUO40xB1u26NWdKgFjXZe6p5rxCRBGqERK+DChZzXoxFwr2OrWmC8qypOrW2eGiDBs8j+3QlVLLTaMxtZQfnSvc9dTt9S7bCv3vCJWE73uqnGsi32+PATwZ+dB9HU2xpOdzRb43rDjPRa5hJzGbAQmMrpkYqbe99fHrK36FOEa74Dxog4A2EnHjuvz9hSTO5nK5O3eLolf0yJM63Vbt7Y8x41fMmsqv8WNWKWyiEovhVEbS+ejIN+pqpiOR2hEwqJSQ4iJgk0mK2mFSoBbjmRqW5fy/ZuZMXz6QQw9tHNkZivy0l3hEs3vqT+lTNYBCMQB+hCKkQwsWlhTMpFgVQ8jHu4KJFHec64k4J7dUHA7brGQwMwfjeLnm+R3rsRLTe3iudrANRfiOj6gSRqrrcH/NvOZansOnTTjE9x0SFhUcudOndyJP61ZSf9Qhvoezb0I2iZxjHwgvBLNNDksH5f0LR0UdW/6RELyuMCfKeX8FgnzVGN6e38wX8c9Ut5hnWeioRaSIJJHRrToahGaL+IWh7z1rGQmS5ejaVJbTKbTHBcqxd4HRElFiN7UGnVT2/IXDV9CxLKK80Ajhaya5PyxtsudBo0iGW9OcLoM0yVj74vD16xXpjtZGwn0f8="
    # AWS_SECRET_ACCESS_KEY
    - secure: "ZGuDhj5oR/Yj5InhOS6nmT0xTGK20ZiCVyoYJ9NZRJcP40jWTa2spuUyzXNXYGuLREoKYqqgHGRMQGJDdnfEDgci3sbgxsI+PdsEnxbiECvVW8XN8c2fN0OX5uvQ8yeJcrWKeXuxvXN7V+Pzh7jxTTlDpHQxtyyZjjPkdZDBM3SedBkvYYuKkyQzK9aJ9gKsBgbmMyvrbVHbg5lHKKl4F1SdHQyy7/YIx4XOprG4xkxeY1me3Zm/sfc3/KBzkbD6IDUVAnRrBR0Iim9qUfXvWSby9XjS74eyqkep1oA6Zl+Xu11MvGO3LS4uy26pzrJ8aeR771cfGG3KdRh0wGUjymgzXY30V2KJQXWoZE7qYs9TiBSDoGNvi0tiAXDJC82Z7sNg369WOIP9rTrZ9toUyFdX29oUVDCds5Ez5ooYahJWizZhwICiAgSIUWrkNY5qmcb/r/kbm9Mbdrvzlbc1TnJGeYo/wZkeQwr8nNrLNGu7FBlT4e1CoJvIcAz18X3P/uwASSqfM4WRQMRWKKIxdzCA6LKWLan6A5CV0iaM0lAYYTL7/fNLULrU6e37vha2G3WNrW1nFqZ0lJCTD5lX8heSu/BkejV7y1d+oIYjsOvJ+AwhKeut6HQ2beILxi5QEcmmmj+WE+r5FdMljV76r5SrW2hg70YStQRZOBmpykY="

addons:
  apt:
    packages:
      - python
      - python-pip

install:
  - pip install awscli --upgrade --user

stages:
  - name: Build
  - name: Tests
  - name: Deployment
    if: type != pull_request AND branch = master

jobs:
  include:

    - stage: Build
      name: Build

      script:
        - npm install
        - npm run build


    # -------------------------------------------------------------------------
    # Snippets tests
    # -------------------------------------------------------------------------
    - stage: Tests
      name: Kuzzle SDK JS - v5

      language: node_js
      node_js:
        - '8'

      before_install:
        - docker pull kuzzleio/documentation:js
        - sysctl -w vm.max_map_count=262144

      script:
        - npm install
        - bash ./run-snippet-tests.sh -p src -s js -v 5

      after_script:
        - |
          if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then
            mv reports/index.html reports/report.html && aws s3 cp reports/ s3://$REPORT_S3/reports/$TRAVIS_PULL_REQUEST/js/5/ --recursive --exclude "*.gitkeep"
            cd .ci && aws s3 cp . s3://$TRAVIS_S3_BUCKET/documentation/$TRAVIS_BUILD_NUMBER --recursive --exclude "*.sh" --exclude "*.html" --exclude "*.yml" --exclude ".gitignore" && cd -
            cd .ci && aws s3 sync s3://$TRAVIS_S3_BUCKET/documentation/$TRAVIS_BUILD_NUMBER . && cd -
            bash ./.ci/comment_pr.sh
          fi;


    - stage: Tests
      name: Kuzzle SDK JS - v6

      language: node_js
      node_js:
        - '8'

      before_install:
        - docker pull kuzzleio/documentation:js
        - sysctl -w vm.max_map_count=262144

      script:
        - npm install
        - bash ./run-snippet-tests.sh -p src -s js -v 6

      after_script:
        - |
          if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then
            mv reports/index.html reports/report.html && aws s3 cp reports/ s3://$REPORT_S3/reports/$TRAVIS_PULL_REQUEST/js/6/ --recursive --exclude "*.gitkeep"
            cd .ci && aws s3 cp . s3://$TRAVIS_S3_BUCKET/documentation/$TRAVIS_BUILD_NUMBER --recursive --exclude "*.sh" --exclude "*.html" --exclude "*.yml" --exclude ".gitignore" && cd -
            cd .ci && aws s3 sync s3://$TRAVIS_S3_BUCKET/documentation/$TRAVIS_BUILD_NUMBER . && cd -
            bash ./.ci/comment_pr.sh
          fi;


    - stage: Tests
      name: Kuzzle SDK Go - v1

      language: node_js
      node_js:
        - '8'

      before_install:
        - docker pull kuzzleio/documentation:go
        - sysctl -w vm.max_map_count=262144

      script:
        - npm install
        - bash ./run-snippet-tests.sh -p src -s go -v 1

      after_script:
        - |
          if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then
            mv reports/index.html reports/report.html && aws s3 cp reports/ s3://$REPORT_S3/reports/$TRAVIS_PULL_REQUEST/go/1/ --recursive --exclude "*.gitkeep"
            cd .ci && aws s3 cp . s3://$TRAVIS_S3_BUCKET/documentation/$TRAVIS_BUILD_NUMBER --recursive --exclude "*.sh" --exclude "*.html" --exclude "*.yml" --exclude ".gitignore" && cd -
            cd .ci && aws s3 sync s3://$TRAVIS_S3_BUCKET/documentation/$TRAVIS_BUILD_NUMBER . && cd -
            bash ./.ci/comment_pr.sh
          fi;


    - stage: Tests
      name: Kuzzle SDK Java - v1

      language: node_js
      node_js:
        - '8'

      before_install:
        - docker pull kuzzleio/documentation:java
        - sysctl -w vm.max_map_count=262144

      script:
        - npm install
        - bash ./run-snippet-tests.sh -p src -s java -v 1

      after_script:
        - |
          if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then
            mv reports/index.html reports/report.html && aws s3 cp reports/ s3://$REPORT_S3/reports/$TRAVIS_PULL_REQUEST/java/1/ --recursive --exclude "*.gitkeep"
            cd .ci && aws s3 cp . s3://$TRAVIS_S3_BUCKET/documentation/$TRAVIS_BUILD_NUMBER --recursive --exclude "*.sh" --exclude "*.html" --exclude "*.yml" --exclude ".gitignore" && cd -
            cd .ci && aws s3 sync s3://$TRAVIS_S3_BUCKET/documentation/$TRAVIS_BUILD_NUMBER . && cd -
            bash ./.ci/comment_pr.sh
          fi;


    - stage: Tests
      name: Kuzzle SDK C++ - v1

      language: node_js
      node_js:
        - '8'

      before_install:
        - docker pull kuzzleio/documentation:cpp
        - sysctl -w vm.max_map_count=262144

      script:
        - npm install
        - bash ./run-snippet-tests.sh -p src -s cpp -v 1

      after_script:
        - |
          if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then
            mv reports/index.html reports/report.html && aws s3 cp reports/ s3://$REPORT_S3/reports/$TRAVIS_PULL_REQUEST/cpp/1/ --recursive --exclude "*.gitkeep"
            cd .ci && aws s3 cp . s3://$TRAVIS_S3_BUCKET/documentation/$TRAVIS_BUILD_NUMBER --recursive --exclude "*.sh" --exclude "*.html" --exclude "*.yml" --exclude ".gitignore" && cd -
            cd .ci && aws s3 sync s3://$TRAVIS_S3_BUCKET/documentation/$TRAVIS_BUILD_NUMBER . && cd -
            bash ./.ci/comment_pr.sh
          fi;


    - stage: Tests
      name: Kuzzle SDK C# - v1

      language: node_js
      node_js:
        - '8'

      before_install:
        - docker pull kuzzleio/documentation:csharp
        - sysctl -w vm.max_map_count=262144

      script:
        - npm install
        - bash ./run-snippet-tests.sh -p src -s csharp -v 1

      after_script:
        - |
          if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then
            mv reports/index.html reports/report.html && aws s3 cp reports/ s3://$REPORT_S3/reports/$TRAVIS_PULL_REQUEST/csharp/1/ --recursive --exclude "*.gitkeep"
            cd .ci && aws s3 cp . s3://$TRAVIS_S3_BUCKET/documentation/$TRAVIS_BUILD_NUMBER --recursive --exclude "*.sh" --exclude "*.html" --exclude "*.yml" --exclude ".gitignore" && cd -
            cd .ci && aws s3 sync s3://$TRAVIS_S3_BUCKET/documentation/$TRAVIS_BUILD_NUMBER . && cd -
            bash ./.ci/comment_pr.sh
          fi;

    # -------------------------------------------------------------------------
    # Deployment
    # -------------------------------------------------------------------------
    - stage: Deployment
      name: Deploy to docs.kuzzle.io

      language: node_js
      node_js:
        - '8'

      script:
        - npm install
        - npm run build

      deploy:
        provider: script
        script: "~/.local/bin/aws s3 sync src/.vuepress/dist s3://$AWS_S3_BUCKET --delete"
        skip_cleanup: true
        on:
          branch: master

      after_deploy:
        - aws cloudfront create-invalidation --distribution-id $AWS_CLOUDFRONT_DISTRIBUTION_ID
          --paths "/*"
