---
# -----------------
# YAML Templates
# -----------------
# Documentaton framework build tasks
_doc-deploy-framework: &doc-deploy-framework
  install:
    - pip install awscli --upgrade --user
    - npm ci
  script:
    - npm run doc-build
  after_success:
    - npm run doc-upload
    - npm run doc-cloudfront

# Documentaton content build tasks
_doc-deploy-content: &doc-deploy-content
  install:
    - export REPOSITORIES=$TRAVIS_JOB_NAME
    - pip install awscli --upgrade --user
    - npm ci
  before_script:
    # TODO if pre-release, force stable branch
    - $(npm bin)/kuzdoc iterate-repos:install --link_framework
  script:
    - $(npm bin)/kuzdoc iterate-repos:build
  after_success:
    - $(npm bin)/kuzdoc iterate-repos:deploy
    - $(npm bin)/kuzdoc iterate-repos:cloudfront

# Documentation deployment
_doc-deploy-base: &doc-deploy-base
  stage: Deployments
  language: node_js
  node_js: 10
  env:
    - NODE_ENV=production
    - AWS_DEFAULT_REGION=us-west-2
    - AWS_ACCESS_KEY_ID=AKIAIYAXFUAHXOWP2MJA
    # AWS_SECRET_ACCESS_KEY
    - secure: K1Hf0b0hgRRkIbudmJZCz96ZeObzRJsC4hUZ7N1aolAKkqRcb1HeKkWwD6Ql/kp2shnQ+QQhPVDlvJSDORJ1D+vZlDiYn8fYSjgcXLC1yfkzXkbezLQGZdyTGjpRyyv2vRt1JHtvLIXLrAg4INWyR2mQR/vW8lMdJkVcXnGu+CIdvncnQfYD6axVqWmqCgElEtCOZ3RUxxm2CHSqy7Caf9hF217lxAHORW6QEtfu86WvRoiIX08W9BQpNKvbdafiu0myVTnZUkn+w0ZhTGaS+nTd7AmIbPw8wQsRbm7ex9BTR4PpZMQOE/Aqtm5T7kEbpMK+oXRKIv2Y40YKTDaC27NQl12fZ0ORR6Gttm9DqXXACW8G5F87FkYJUSC8vo8UJFJSJhAKtzsqJRY5rIAr/tSFGwtxhhE4XV2eFC25zaNJsRXhzTyDB+OF9O0EUS2YgEZVfr3cxmUIDimKOsKP918zbjvBtLrZ1KJEs/1yR05J423CZ64T0RzLJ7HATzLt7Wo/nlzij73UglntxZlXWkhmZUGkT/UeNvTE+aPbfam+BWI2Y5v3qrxvtZ9IyOhSIVAsxi+/siRjv256pJnFLgpoGX8hH6rRP0TC3ri+8Sv/xV9ZxiUgUHhOhkUB57Uv1zHEOLR23vMRU1o8y4oA16bckc2SJ3SWrFXKT4qujgI=
    - BRANCH=$(if [ "${TRAVIS_BRANCH}" == "master" ]; then echo "stable"; else echo "dev"; fi)
    - FRAMEWORK_BRANCH=$(if [ "${TRAVIS_BRANCH}" == "master" ]; then echo "master"; else echo "develop"; fi)
    # TODO add condition for pre-release preview (pre-release S3 bucket)
    - S3_BUCKET=$(if [ "${TRAVIS_BRANCH}" == "master" ]; then echo "docs.kuzzle.io"; else echo "docs-next.kuzzle.io"; fi)
    - CLOUDFRONT_DISTRIBUTION_ID=$(if [ "${TRAVIS_BRANCH}" == "master" ]; then echo "E3D6RP0POLCJMM"; else echo "E2ZCCEK9GRB49U"; fi)
    - REPOS_PATH=/tmp
  addons:
    apt:
      packages:
        - python
        - python-pip
  cache:
    npm: true
    directories:
      - $HOME/.cache/pip

# ------------------------
# Jobs configuration
# ------------------------
jobs:
  include:
    # ----------------------------
    # Framework
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-framework
      name: framework

    # ----------------------------
    # Kuzzle v1
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: kuzzle-1

    # ----------------------------
    # Kuzzle v2
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: kuzzle-2

    # ----------------------------
    # SDK JS v5
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-javascript-5

    # ----------------------------
    # SDK JS v6
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-javascript-6

    # ----------------------------
    # SDK JS v7
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-javascript-7

    # ----------------------------
    # SDK C# v1
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-csharp-1

    # ----------------------------
    # SDK C# v2
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-csharp-2

    # ----------------------------
    # SDK C++ v1
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-cpp-1

    # ----------------------------
    # SDK Java v1
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-java-1

    # ----------------------------
    # SDK Java v2
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-java-2

    # ----------------------------
    # SDK Java v3
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-java-3

    # ----------------------------
    # SDK Jvm v1
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-jvm-1

    # ----------------------------
    # SDK Android v3
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-android-3

    # ----------------------------
    # SDK Go v1
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-go-1

    # ----------------------------
    # SDK Go v2
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-go-2

    # ----------------------------
    # SDK PHP v3
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-php-3

    # ----------------------------
    # SDK Dart v2
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-dart-2

    # ----------------------------
    # SDK Dart v3
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: sdk-dart-3

    # ----------------------------
    # Plugin Cloudinary v1
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: plugin-cloudinary-1

    # ----------------------------
    # Plugin Cloudinary v2
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: plugin-cloudinary-2

    # ----------------------------
    # Plugin S3 v1
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: plugin-s3-1

    # ----------------------------
    # Plugin S3 v2
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: plugin-s3-2

    # Kuzzle How To v1
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: kuzzle-how-to-1

    # Kuzzle How To v2
    # ----------------------------
    - <<: *doc-deploy-base
      <<: *doc-deploy-content
      name: kuzzle-how-to-2

    # ----------------------------
    # Plugin Multi Tenancy v1
    # ----------------------------
    # - <<: *doc-deploy-base
    #   <<: *doc-deploy-content
    #   name: kuzzle-how-to

stages:
  - name: Deployments
    if: type = push AND branch =~ /(master|develop)/
