sudo: required
services:
  - docker
env:
  global:
  - AWS_S3_BUCKET=docs-v2.kuzzle.io
  - AWS_CLOUDFRONT_DISTRIBUTION_ID=E23K3OMU0671PL
  - secure: e2j8CdD86voR0FKnDzo0BYIysfDjAdUW6FfO42VSaLPV97DjKdJd5dlhtDq+0U2/ae1iL3YpLlbVKr+wveS21hl15+jG+8miShnScGn3bhwe6P11uLCs9JL/WfoJ0vHueLy3XWHE8R51Mu2lD5aFJxQBRExQ06zS4rjev/ZFiipRlLFsYFeKgZ7I0WKo6Aqqt9wP7SFfuvr5jNLwgDIMvi9rWP+ZlbZIzm7of7QAzJfBK17VwszCatBlREWzXTGgxnVK09fJJdCZ9gTWwrayXxif+DVFCkCuKgG12glh1R3k5EBu7IkJsqCdTWYJ5AC2OBaMOvwpE3d340j0xvnDtmVUArDPJohQiBN6GTOo8R54AKbOE25U1YKSPqZ7pJplsvRjkpdlCnGVXmR+W/2HdWK6uSXyg/iYncb4DVVPnqk/WfQzKtha5ClZRXUUNUTaY+4wm8+2rqFnIa9IMKNgHnvPmLyf/J6K1ooPJHYB4HfvS/4cP0DXQTe3q9U06HeWGOiS32Jq86QRo2Zm7yUVmYu0fEU/jQIJtv3BGuzz8aeF5JGFcKOe11sETHjs7CKrK89hEtKkpmuw3V7FteWfxla8YNkhQBLqeY+z3Cq7k77DVXdupzQZwGeYBNjHECnS38PBQ35biZhZTEM0/uY9NITiQpbdga+njAK2SqHRtiw=
  - secure: CEIMGeEcS+zpdiRXAripOJxwUg5rbmO8pe4u+zm5eteoLA6idQNUEi4o2F2pyWFNZy95B3BiM3ZSMStwdJwu3tZ4cjmX3XnU5GN26tw4wYsM2bW3iNH5xi1pxjtyFTwT9h6JL+mMxOBbPK8DmOPSWEWVMkAs+bw1GLOOMHQ3q29qXUwEDrb4+SS8mAXlWmQSFT+lQVGtRbvu38F6m24qSFQVL2mB/VKty3meByvkddaKShTrhsk867eR1pAvBBjtQHiyVCGaKHHspeOsWjfnnIr2I5CEWFlHSCOQgtY7obS5G0LmNcoApc/aAEYUWcSZ1TIoY0KtK+LyTkKNzB1oaqbVt0ZlrPJUt7fXSlBKyM/UbZ8NFCsIJ+Yi/dXUrD99cPONJK4sVBO9YLmZEpVWfGd1NJs6isULZJoqqbNb9XQ59uZpR9jo9ZyR7IUsHcshQAN8mH0EJLbRtiAN9m3bA89DkdEMWph9UmwBtKYC52JHne6ENClMAk7K/IgzB20iYd4B8M5a6k43DpDUaNf6gjkhL6RrR0ssiNJsI3QmdcYodf2mDlJuYnVmaHpb8dcUBC8ImcVjYKuDst32RXvkAYKvpCy67A2FDuZ1F2CE+hbA7fIaYsN5UkkcF6nYcNJMZ6PF76WQ+2j2UgLVGOvAl91lpoo1P07fzM4P5j9bnc0=
  - secure: B3i1AZaCMPRTSqpv65WOpoe5syd/Tx1lXfnTsx2LPRj68FcmklHYVAsm5EmF9T3B94hWdudwHgeV/qN74DrCxo8zvV1EiU1WyPkiXmJ282ekuk9BQLCZQu8yokevU+0R7uE1SwrSRz/in5lAlKtiO8z7uJbzPOVHz9O86tHWVnwfzbPHaMPiYuFFy0bfeikai7cxlPCpKMEzUkQtdc9YOsUCa4kI72M1EHVjrkayzLYFtD1j+68ukr6wqAqdbsvGW1t866G5FbMw9+9jXvbomThZK+qBh2qNKrm4k9i6bSmCR/1Nm9yKf3QSke/RSIO79r2U2NBhn4mlDD9zVoUNC47s5idao8pQRaCmfozBOkcRiD4fohTNygV1Od8kgPR/X72eIedySLnVLWib0cQacpjFjdfjkjBoG132PhTgN5JiNCMcXPOywNN6y7k/uCTlM/tTyfJCKnBqFJq6Kz8UR+5N0PlVRY678MyEv1E27lgbmah708uVf7R1tPpO99gCM+jKfxr20pr3OcNDLYkETAoZts79+2wWz4KunGIKDom85ydLZOFvFYjTBLg9kKbTpdk92HF+NvPaXEJA4zfDjr97Xg+UJyYRh/IE/ivovLqefX46BEh01QkY1asyRYAXr6w3hTsVra+j4KzB6v9m771KxpR1m4unpnCH967R7Ik=
  - secure: MZBvysi+t004I4ttd5Ke+9BTB/KKRiAEWc3ziIvUsEveJBSLIZtdbKlzgChDBvBs5PZmhAMd1rwjqnyrwFrhEzQAGBo7xHROk+hzIV5EivGkKleO/Zcmzfty2LcsoBqrE27cGg5xtZ+U4m5yBUNjBYcEOLh799QD0XQFQv62+nxQq3HJU+tEru6pPSVolF4qh0k2GtocakNLao50f4GhrgKEmoBRZktIwtOZ3AcJw+4RfYR5mXWsFbqGvW4aAPKKTa9rrw0+7y8un8lWzPxqjQzIsZ43/VcgzQRmJg4p/3GuRLCl8Xf3FsCg1Jp8xYlYqhCOplh4qXzVoddXpoAfI60rqSt7JKkusAsQOFxq+5NS/1P/udxTkqSyT7nDHE27lT0Qu3ckQkPx1OQkTo2SiizmLLCCdwA7ocfN7UNjpvib4izjNvkYMpLLglA0VfTWXld66L9BlzQyV1/N24NGmiV5rzlyN/OE1lnxu+n+01HweRmUrz42tbutVe2VcecJES9fxW85Pol5CaOHNhAwSO2Wh0NzKIhuWWSdpoEPGCawPT+qJ62BsIqNKDp3sNXE9TtozVVQIkb7PNSqzux0JFDbB4A4AT1iZzGoYOn4SnpOGNv98aLvmNHfu7kWkpreYxGQxl87Oof2AnzXjc5sb4fhkYeVS56XjafkAuZOrZQ=
before_install:
  - docker pull kuzzleio/documentation-v2:js
  - docker pull kuzzleio/documentation-v2:go
  - sysctl -w vm.max_map_count=262144
addons:
  apt:
    packages:
    - python
    - python-pip
install:
  - pip install awscli --upgrade --user
script:
  # JAVASCRIPT
  - sh .travis/start_kuzzle.sh
  - docker run -a stdout -a stderr --rm --privileged --network codepipeline_default --link kuzzle --mount type=bind,source="$(pwd)",target=/app kuzzleio/documentation-v2:js
  - docker rm $(docker container list -q -a) --force
  - aws s3 cp reports/ s3://$AWS_S3_BUCKET/reports/js/$TRAVIS_PULL_REQUEST/ --recursive --exclude "*.gitkeep"
  # GOLANG
  - sh .travis/start_kuzzle.sh
  - docker run -a stdout -a stderr --rm --privileged --network codepipeline_default --link kuzzle --mount type=bind,source="$(pwd)",target=/app --mount type=bind,source="$(pwd)"/test/bin,target=/go/src/github.com/kuzzleio/go-test kuzzleio/documentation-v2:go
  - docker rm $(docker container list -q -a) --force
  - aws s3 cp reports/ s3://$AWS_S3_BUCKET/reports/go/$TRAVIS_PULL_REQUEST/ --recursive --exclude "*.gitkeep"
  # JAVA
  - sh .travis/start_kuzzle.sh
  - docker run -a stdout -a stderr --rm --privileged --network codepipeline_default --link kuzzle --mount type=bind,source="$(pwd)",target=/app kuzzleio/documentation-v2:java
  - docker rm $(docker container list -q -a) --force
  - aws s3 cp reports/ s3://$AWS_S3_BUCKET/reports/java/$TRAVIS_PULL_REQUEST/ --recursive --exclude "*.gitkeep"
  # ending scripts
  - sh .travis/comment_pr.sh
  - aws cloudfront create-invalidation --distribution-id $AWS_CLOUDFRONT_DISTRIBUTION_ID --paths "/*"