<!DOCTYPE html>
<html lang="en">
<head>
    {{> metas}}
    <link rel="stylesheet" href="/assets/stylesheets/libs/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/libs/googleFonts.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/libs/monokai.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/libs/select2.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/libs/material-icons.css">
    <link rel="stylesheet" href="/assets/stylesheets/libs/prism.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    
    <style>
        body,
        input {
            font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
        }
    
        code,
        kbd,
        pre {
            font-family: "Roboto Mono", "Courier New", Courier, monospace
        }
    </style>
</head>

<body>
    <input class="md-toggle" data-md-toggle="drawer" type="checkbox" id="drawer" autocomplete="off" />
    <input class="md-toggle" data-md-toggle="search" type="checkbox" id="search" autocomplete="off" />
        
    </select>
    {{> header }}
    <div class="md-container">
        {{> tabs}}
        <!-- Main container -->
        <main class="md-main">
            <div class="md-main__inner md-grid" data-md-component="container">
                <!-- Main navigation -->
                <div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
                    <div class="md-sidebar__scrollwrap">
                        <div class="md-sidebar__inner">
                            {{> nav}}
                        </div>
                    </div>
                </div>
                <!-- Table of contents -->
                <div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
                    <div class="md-sidebar__scrollwrap">
                        <div class="md-sidebar__inner">
                            {{#if has_code_example}}
                                <select id="language-selector"></select>
                            {{/if}}
                            {{> anchors}}
                        </div>
                    </div>
                </div>
                <!-- Content -->
                <div class="md-content">
                    <article class="md-content__inner md-typeset">
                        {{#if has_section }}
                            <input id="list-sections"type="hidden" value="{{sections}}">
                        {{/if}}

                        {{{ contents }}}
                    </article>
                </div>
            </div>
        </main>

        {{> footer }}
    </div>
    <script type="text/javascript" data-packer="exclude">
        var site_url = 'https://docs.kuzzle.io/'
        var site_base_path = '/'
        var algolia_projectId = '{{ algolia_projectId }}'
        var algolia_publicKey = '{{ algolia_publicKey }}'
        var languages = '{{ languages }}'
    </script>
    <script src="/assets/js/main.min.js"></script>
    {{#if (eq is_dev true) }}
        <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}

</body>

</html>