<!DOCTYPE html>
<html>
<head>
    <title>doc v2</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">

    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700|Roboto+Mono">

    
    <style>
        body,
        input {
            font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
        }
    
        code,
        kbd,
        pre {
            font-family: "Roboto Mono", "Courier New", Courier, monospace
        }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <input class="md-toggle" data-md-toggle="drawer" type="checkbox" id="drawer" autocomplete="off" />
    <input class="md-toggle" data-md-toggle="search" type="checkbox" id="search" autocomplete="off" />
        
    </select>
    {{> header }}
    <div class="md-container">
        {{> tabs}}
        <!-- Main container -->
        <main class="md-main">
            <div class="md-main__inner md-grid" data-md-component="container">
                <!-- Main navigation -->
                <div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
                    <div class="md-sidebar__scrollwrap">
                        <div class="md-sidebar__inner">
                            {{> nav}}
                        </div>
                    </div>
                </div>
                <!-- Table of contents -->
                <div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
                    <div class="md-sidebar__scrollwrap">
                        <div class="md-sidebar__inner">
                            {{> anchors}}
                        </div>
                    </div>
                </div>
                <div class="md-content">
                    <article class="md-content__inner md-typeset">
                        
                        {{#if has_code_example}}
                            <select id="language-selector"></select>
                        {{/if}}

                        {{#if has_section }}
                            <input id="list-sections"type="hidden" value="{{sections}}">
                        {{/if}}

                        {{{ contents }}}
                    </article>
                </div>
            </div>
        </main>

        {{> footer }}

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/assets/js/languageSelector.js"></script>
    <script src="/assets/js/libs/modernizr.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/scrollto.js"></script>
</body>

</html>