<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{> header }}
    <div class="md-container">
        <!-- Main container -->
        <main class="md-main">
            <div class="md-main__inner md-grid" data-md-component="container">
                <!-- Main navigation -->
                <div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
                    <div class="md-sidebar__scrollwrap">
                        <div class="md-sidebar__inner">
                            {{> nav_sdk}}
                        </div>
                    </div>
                </div>
                <!-- Table of contents -->
                <div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
                    <div class="md-sidebar__scrollwrap">
                        <div class="md-sidebar__inner">
                            <div class="selector-container">
                                <Selector :items="{{ sdkVersions }}" />
                            </div>
                            {{> anchors}}
                        </div>
                    </div>
                </div>
                <!-- Content -->
                <div class="md-content">
                    <article class="md-content__inner md-typeset">
                        {{#if has_section }}
                        <input id="list-sections" type="hidden" value="{{sections}}">
                        {{/if}}

                        {{{ contents }}}

                        {{> contentFeedback }}
                    </article>
                </div>
            </div>
        </main>

        {{> footer }}
    </div>

    {{> loadScript }}

</body>

</html>