<div class="ContentFeedback">
  <p>
    <a
      href="https://github.com/{{ gh_repo }}/issues/new?title=[{{
        src
      }}]&template=bug_report.md"
      target="_blank"
      >Report an error on this page&nbsp;<i class="fa fa-github"></i
    ></a>
    <span class="separator">|</span>
    <a
      href="https://github.com/{{ gh_repo }}/issues/new?title=[{{
        src
      }}]&template=content_request.md"
      target="_blank"
      >Request new content for this page&nbsp;<i class="fa fa-github"></i
    ></a>
  </p>
</div>
