<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1"
/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta
  name="msapplication-TileImage"
  content="{{ site_base_path }}assets/images/favicon/mstile-144x144.png"
/>
<meta
  name="msapplication-square70x70logo"
  content="{{ site_base_path }}assets/images/favicon/mstile-70x70.png"
/>
<meta
  name="msapplication-square150x150logo"
  content="{{ site_base_path }}assets/images/favicon/mstile-150x150.png"
/>
<meta
  name="msapplication-wide310x150logo"
  content="{{ site_base_path }}assets/images/favicon/mstile-310x150.png"
/>
<meta
  name="msapplication-square310x310logo"
  content="{{ site_base_path }}assets/images/favicon/mstile-310x310.png"
/>
<meta
  name="google-site-verification"
  content="luspUdq52gkUU0FFChQ2xmeXSs5HDafpARQ7fVXVBp4"
/>

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ title }}" />
<meta
  itemprop="image"
  content="{{ site_base_path }}assets/images/favicon/favicon-196x196.png"
/>

<!-- Twitter Card data -->
<meta name="twitter:card" value="summary" />
<meta name="twitter:site" content="@kuzzleio" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:creator" content="@kuzzleio" />
<meta
  name="twitter:image"
  content="{{ site_base_path }}assets/images/favicon/favicon-196x196.png"
/>

<!-- Open Graph data -->
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="{{ site_name }}" />
<meta
  property="og:image"
  content="{{ site_base_path }}assets/images/favicon/favicon-96x96.png"
/>
<meta property="article:published_time" content="{{dateToISO stats.ctime}}" />
<meta property="article:modified_time" content="{{dateToISO stats.mtime}}" />
<meta property="article:section" content="{{ ancestry.parent.title }}" />
<meta property="article:tag" content="{{ ancestry.firstMember.title }}" />

{{#if description}}
<meta property="og:description" content="{{ description }}" />
<meta itemprop="description" content="{{ description }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="description" content="{{ description }}" /> {{/if}}

<link
  rel="apple-touch-icon-precomposed"
  sizes="57x57"
  href="{{ site_base_path }}assets/images/favicon/apple-touch-icon-57x57.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="114x114"
  href="{{ site_base_path }}assets/images/favicon/apple-touch-icon-114x114.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="72x72"
  href="{{ site_base_path }}assets/images/favicon/apple-touch-icon-72x72.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="144x144"
  href="{{ site_base_path }}assets/images/favicon/apple-touch-icon-144x144.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="60x60"
  href="{{ site_base_path }}assets/images/favicon/apple-touch-icon-60x60.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="120x120"
  href="{{ site_base_path }}assets/images/favicon/apple-touch-icon-120x120.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="76x76"
  href="{{ site_base_path }}assets/images/favicon/apple-touch-icon-76x76.png"
/>
<link
  rel="apple-touch-icon-precomposed"
  sizes="152x152"
  href="{{ site_base_path }}assets/images/favicon/apple-touch-icon-152x152.png"
/>
<link
  rel="icon"
  type="image/png"
  href="{{ site_base_path }}assets/images/favicon/favicon-196x196.png"
  sizes="196x196"
/>
<link
  rel="icon"
  type="image/png"
  href="{{ site_base_path }}assets/images/favicon/favicon-96x96.png"
  sizes="96x96"
/>
<link
  rel="icon"
  type="image/png"
  href="{{ site_base_path }}assets/images/favicon/favicon-32x32.png"
  sizes="32x32"
/>
<link
  rel="icon"
  type="image/png"
  href="{{ site_base_path }}assets/images/favicon/favicon-16x16.png"
  sizes="16x16"
/>
<link
  rel="icon"
  type="image/png"
  href="{{ site_base_path }}assets/images/favicon/favicon-128.png"
  sizes="128x128"
/>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-67035328-7"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-67035328-2');
</script>

<link rel="stylesheet" href="/assets/stylesheets/main.css" />

<style>
  body,
  input {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  code,
  kbd,
  pre {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
  }
</style>
<title>
  {{#if title}} {{ title }} - {{/if}}

  {{#if ancestry.parent}}
  {{#if (and ancestry.firstMember (ne title ancestry.firstMember.title))}}
  {{ ancestry.firstMember.title }} - {{/if}}
  {{#if (and (ne ancestry.parent ancestry.root) (ne title ancestry.parent.title))}}
  {{ ancestry.parent.title }} - {{/if}} {{/if}}

  {{ site_title }}
</title>
