<input class="md-toggle" data-md-toggle="drawer" type="checkbox" id="drawer" autocomplete="off" />
<input class="md-toggle" data-md-toggle="search" type="checkbox" id="search" autocomplete="off" />
<div class="overlay hidden"></div>
<header class="md-header" data-md-component="header">
    <!-- Top-level navigation -->
    <nav class="md-header-nav md-grid">
        <div class="md-flex">

            <!-- Link to home -->
            <div class="md-flex__cell md-flex__cell--shrink">
                <a href="/" class="md-header-nav__button md-logo">
                    <img src="/assets/images/logo-min.png" width="24" height="24" />
                </a>
            </div>

            <!-- Button to toggle drawer -->
            <div class="md-flex__cell md-flex__cell--shrink">
                <label class="md-icon md-icon--menu md-header-nav__button" for="drawer"></label>
            </div>

            <!-- Header title -->
            <div class="md-flex__cell md-flex__cell--stretch">
                <div class="md-flex__ellipsis md-header-nav__title" data-md-component="title">
                    <span class="md-header-nav__topic">
                        Kuzzle Documentation
                    </span>
                    <span class="md-header-nav__topic">
                        {{ title }}
                    </span>
                </div>
            </div>

            <!-- Button to open search dialogue -->
            <div class="md-flex__cell md-flex__cell--shrink">
                <label class="md-icon md-icon--search md-header-nav__button" for="search"></label>
                <!-- Search interface -->
                {{> search }}
            </div>

            <!-- Repository containing source -->
            <!-- <div class="md-flex__cell md-flex__cell--shrink">
                <div class="md-header-nav__source">
                    {% include "partials/source.html" %}
                </div>
            </div> -->
        </div>
    </nav>
    {{> tabs}}
</header>
