<script type="text/javascript" data-packer="exclude">
  var site_url = 'https://docs-v2.kuzzle.io/';
  var site_base_path = '/';
  var algolia_projectId = '{{ algolia_projectId }}';
  var algolia_index = '{{ algolia_index }}';
  var algolia_publicKey = '{{ algolia_publicKey }}';
  var sdkVersions = '{{ sdkVersions }}';

  sdkVersions = JSON.parse(sdkVersions.replace(/&quot;/g, '\"'));
</script>

{{#if (eq is_dev true) }}
  <script src="/assets/js/libs/jquery.min.js"></script>
  <script src="/assets/js/main.min.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
{{else}}
  <script src="/assets/js/bundle.min.js"></script>
{{/if}}
