<script type="text/javascript" data-packer="exclude">
  var site_url = 'https://docs-v2.kuzzle.io/';
  var site_base_path = '/';
  var algolia_projectId = '{{ algolia_projectId }}';
  var algolia_index = '{{ algolia_index }}';
  var algolia_publicKey = '{{ algolia_publicKey }}';
</script>

<script src="/assets/js/bundle.min.js"></script>

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3803374.js"></script>
<!-- End of HubSpot Embed Code -->

{{#if (eq is_dev true) }}
  <script src="http://localhost:35729/livereload.js"></script>
{{/if}}
