<!-- Main navigation -->
<nav class="md-nav md-nav--primary" data-md-level="0">
    {{> navMobile}}
    <!-- Render item list -->
    <ul class="md-nav__list" data-md-scrollfix>
        {{#each ancestry.parent.ancestry.siblings as |section|}}
            {{#if section.separator}}
              <li class="md-nav__separator">{{section.separator}}</li>
            {{/if}}
            
            <li class="md-nav__item">
                <a class="md-nav__link"  href="{{ ../site_base_path }}{{ path }}">{{ displayTitle section }}</a>
            </li>
            
            {{#if (eq ../ancestry.parent.ancestry.firstMember.path section.path)}}
              <ul class="md-nav__list sub-menu">
                {{#each section.ancestry.children as |page|}}
                    {{#if page.separator}}
                      <li class="md-nav__separator">{{page.separator}}</li>
                    {{/if}}
                    
                    {{#if (or (eq page.path ../../path) (eq page.path section.path))}}
                      <li class="md-nav__item active">
                          <a href="{{firstDefinedOf ../../site_base_path ../site_base_path}}{{ path }}" title="{{ title }}" class="md-nav__link--active">
                              {{ displayTitle this }}
                          </a>
                      </li>
                    {{else}}
                      <li class="md-nav__item">
                          <a href="{{firstDefinedOf ../../site_base_path ../site_base_path}}{{ path }}" title="{{{ title }}}" class="md-nav__link">
                              {{ displayTitle this}}
                          </a>
                      </li>
                    {{/if}}
                {{/each}}
              </ul>
            {{/if}}
        {{/each}}
    </ul>
</nav>
