<!-- Main navigation -->
<nav class="md-nav md-nav--primary" data-md-level="0">
    {{>navMobile}}
    <!-- Render item list -->
    <ul class="md-nav__list" data-md-scrollfix>
      {{#each ancestry.parent.ancestry.siblings as |parent|}}
        {{#if parent.separator}}
          <li class="md-nav__separator">{{parent.separator}}</li>
        {{/if}}
        {{#if parent.title}}
          <li class="md-nav__item">
              <a class="md-nav__link"  href="{{ ../site_base_path }}{{ parent.path }}">{{displayTitle parent}}</a>
          </li>
        {{/if}}
          <ul class="md-nav__list sub-menu {{#if (not parent.title)}}no-parent{{/if}}">
            {{#each parent.ancestry.children as |children|}}
              {{#if (eq ../../ancestry.parent.path parent.path)}}
                {{#if children.separator}}
                  <li class="md-nav__separator">{{children.separator}}</li>
                {{/if}}
                {{#if children.title}}
                  {{#if (eq ../../path children.path)}}
                    <li class="md-nav__item active">
                        <a href="{{firstDefinedOf ../../site_base_path ../site_base_path}}{{ path }}" title="{{ title }}" class="md-nav__link--active">
                            {{displayTitle this}}
                        </a>
                    </li>
                  {{else}}
                    <li class="md-nav__item">
                        <a href="{{firstDefinedOf ../../site_base_path ../site_base_path}}{{ path }}" title="{{ title }}" class="md-nav__link">
                            {{displayTitle this}}
                        </a>
                    </li>
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/each}}
          </ul>
      {{/each}}
    </ul>
</nav>
