<label class="md-nav__title md-nav__title--site" for="drawer">
    <span class="md-nav__button md-logo">
        <img src="/assets/images/logo-min.png" width="48" height="48" />
    </span>
    <span>
        Kuzzle documentation
    </span>
</label>
<div class="md-nav__source mobile-only">
    <a href="/guide" title="Guides" class="md-source" data-md-state="done" style="display:inline-block;">
        <div class="md-source__repository">Guides</div>
    <a href="/sdk-reference" title="SDKs" class="md-source" data-md-state="done" style="display:inline-block;">
        <div class="md-source__repository">SDKs reference</div>
    </a>
    <a href="/api" title="API" class="md-source" data-md-state="done" style="display:inline-block;">
        <div class="md-source__repository">API</div>
    </a>
</div>