<!-- Tabs with outline -->
<nav class="md-tabs" data-md-component="tabs">
    <div class="md-tabs__inner md-grid">
        <ul class="md-tabs__list">
            <li class="md-tabs__item">
                <a href="/guide" title="Guide" class="md-tabs__link md-tabs__link--active">
                    Guides
                </a>
            </li>
            <li class="md-tabs__item">
                <a href="/sdk-reference" title="SDK" class="md-tabs__link md-tabs__link--active">
                    SDK
                </a>
            </li>
            <li class="md-tabs__item">
                <a href="/api" title="API" class="md-tabs__link md-tabs__link--active">
                    API
                </a>
            </li>
            <li class="md-tabs__item">
                <a href="/plugins" title="API" class="md-tabs__link md-tabs__link--active">
                    Plugins
                </a>
            </li>
        </ul>
    </div>
</nav>
