<footer class="md-footer">

    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            <div class="md-footer-copyright">

                <div class="md-footer-copyright__highlight">
                    &copy;2018. All Rights Reserved - Kuzzle.io
                </div>
                <a href="https://github.com/kuzzleio/documentation/blob/master/LICENSE.md">
                    Apache 2.0 License
                </a>
            </div>

            <div class="md-footer-social">

                <a href="#" class="md-footer-social__link fa fa-globe"></a>

                <a href="#" class="md-footer-social__link fa fa-github-alt"></a>

                <a href="#" class="md-footer-social__link fa fa-twitter"></a>

                <a href="#" class="md-footer-social__link fa fa-linkedin"></a>

            </div>


        </div>
    </div>
</footer>