  <h2>Snippets tests reports</h2>
  <table>
    <tr>
      <th><b>SDK</b></th>
      <th><b>Version</b></th>
      <th><b>Tests overview</b></th>
    </tr>
    <tr>
      <td align="center">
        <a href="https://docs-v2.kuzzle.io/reports/{{.prId}}/js/6"
        style="font-size:0;"><img src=
        "https://docs-v2.kuzzle.io/assets/images/logos/javascript.svg"
        width="32" height="32"></a>
      </td>
      <td align="center"><em>v6</em></td>
      <td align="center">
        {{if (eq .jsv6 "1") }}
          :x:
        {{end}}
        {{if (eq .jsv6 "0")}}
          :heavy_check_mark:
        {{end}}
        {{if (eq .jsv6 "3")}}
          :heavy_minus_sign:
        {{end}}
      </td>
    </tr>
        <tr>
      <td align="center">
        <a href="https://docs-v2.kuzzle.io/reports/{{.prId}}/js/5"
        style="font-size:0;"><img src=
        "https://docs-v2.kuzzle.io/assets/images/logos/javascript.svg"
        width="32" height="32"></a>
      </td>
      <td align="center"><em>v5</em></td>
      <td align="center">
        {{if (eq .jsv5 "1") }}
          :x:
        {{end}}
        {{if (eq .jsv5 "0")}}
          :heavy_check_mark:
        {{end}}
        {{if (eq .jsv5 "3")}}
          :heavy_minus_sign:
        {{end}}
      </td>
    </tr>
    <tr>
      <td align="center">
        <a href="https://docs-v2.kuzzle.io/reports/{{.prId}}/go/1"
        style="font-size:0;"><img src=
        "https://docs-v2.kuzzle.io/assets/images/logos/go.svg"
        width="32" height="32"></a>
      </td>
      <td align="center"><em>v1</em></td>
      <td align="center">
        {{if (eq .gov1 "1") }}
          :x:
        {{end}}
        {{if (eq .gov1 "0")}}
          :heavy_check_mark:
        {{end}}
        {{if (eq .gov1 "3")}}
          :heavy_minus_sign:
        {{end}}
      </td>
    </tr>
    <tr>
      <td align="center">
        <a href="https://docs-v2.kuzzle.io/reports/{{.prId}}/java/1"
        style="font-size:0;"><img src=
        "https://docs-v2.kuzzle.io/assets/images/logos/java.svg"
        width="32" height="32"></a>
      </td>
      <td align="center"><em>v1</em></td>
      <td align="center">
        {{if (eq .javav1 "1") }}
          :x:
        {{end}}
        {{if (eq .javav1 "0")}}
          :heavy_check_mark:
        {{end}}
        {{if (eq .javav1 "3")}}
          :heavy_minus_sign:
        {{end}}
      </td>
    </tr>
    <tr>
      <td align="center">
        <a href="https://docs-v2.kuzzle.io/reports/{{.prId}}/cpp/1"
        style="font-size:0;"><img src=
        "https://docs-v2.kuzzle.io/assets/images/logos/cpp.svg"
        width="32" height="32"></a>
      </td>
      <td align="center"><em>v1</em></td>
      <td align="center">
        {{if (eq .cppv1 "1") }}
          :x:
        {{end}}
        {{if (eq .cppv1 "0")}}
          :heavy_check_mark:
        {{end}}
        {{if (eq .cppv1 "3")}}
          :heavy_minus_sign:
        {{end}}
      </td>
    </tr>
  </table>
