@use "sass:color";

// ----------------------------------------------------------------------------
// Rules
// ----------------------------------------------------------------------------

// Scoped in typesetted content to match specificity of regular content
.md-typeset {
  // Admonition extension
  .admonition {
    @include z-depth(2);

    position: relative;
    margin: 1.5625em 0;
    padding: 0 1.2rem;
    border-left: 0.4rem solid $clr-blue-a200;
    border-radius: 0.2rem;
    font-size: ms(-1);
    overflow: auto;

    // Adjust for RTL languages
    [dir='rtl'] & {
      border-right: 0.4rem solid $clr-blue-a200;
      border-left: none;
    }

    // Adjust spacing on last element
    html & > :last-child {
      margin-bottom: 1.2rem;
    }

    // Adjust margin for nested admonition blocks
    .admonition {
      margin: 1em 0;
    }

    // Title
    > .admonition-title {
      margin: 0 -1.2rem;
      padding: 0.8rem 1.2rem 0.8rem 4rem;
      border-bottom: 0.1rem solid color.scale($clr-blue-a200, $alpha: -90%);
      background-color: color.scale($clr-blue-a200, $alpha: -90%);
      font-weight: 700;

      // Adjust for RTL languages
      [dir='rtl'] & {
        padding: 0.8rem 4rem 0.8rem 1.2rem;
      }

      // Reset spacing, if title is the only element
      &:last-child {
        margin-bottom: 0;
      }

      // Icon
      &::before {
        @extend %md-icon;

        position: absolute;
        left: 1.3rem;
        top: 1rem;
        color: $clr-blue-a200;
        font-size: 1.5rem;
        content: '\F303'; // pencil

        // Adjust for RTL languages
        [dir='rtl'] & {
          right: 1.3rem;
          left: initial;
        }
      }
    }

    // Build representational classes
    @each $names,
      $appearance
        in (
          abstract summary tldr: $clr-light-blue-a400 '\F036', // align-left
          infotodo: $clr-cyan-a700 '\F05A', // circle-info
          tiphintimportant: $clr-teal-a700 '\E098', // arrow-trend-up
          successcheckdone: $clr-green-a700 '\F00C', // checkmark
          questionhelpfaq: $clr-light-green-a700 '\3F', // question
          warningcautionattention: $clr-orange-a400 '\F071', // triangle-exclamation
          failurefailmissing: $clr-red-a200 '\F00D', // xmark
          dangererror: $clr-red-a400 '\F0E7', // bolt
          bug: $clr-pink-a400 '\F188', // bolt
          example: $clr-deep-purple-a400 '\F0CB', // list-ol
          quotecite: $clr-grey '\F10E'// quote-right
        )
    {
      $tint: nth($appearance, 1);
      $icon: nth($appearance, 2);

      // Define base class
      &%#{nth($names, 1)},
      &.#{nth($names, 1)} {
        border-left-color: $tint;

        // Adjust for RTL languages
        [dir='rtl'] & {
          border-right-color: $tint;
        }

        // Title
        > .admonition-title {
          border-bottom-color: 0.1rem solid color.scale($tint, $alpha: -90%);
          background-color: color.scale($tint, $alpha: -90%);

          // Icon
          &::before {
            color: $tint;
            content: $icon;
          }
        }
      }

      // Define synonyms for base class
      @if length($names) > 1 {
        @for $n from 2 through length($names) {
          &.#{nth($names, $n)} {
            @extend .admonition, %#{nth($names, 1)};
          }
        }
      }
    }
  }
}
