@use 'sass:color';

.DocSearch {
  // Common
  --docsearch-primary-color: #{$md-color-pink};
  --docsearch-secondary-text-color: #{color.scale(
      $md-color-blue,
      $lightness: -30%
    )};
  --docsearch-text-color: #{$md-color-black};
  --docsearch-search-button-text-color: #{$md-color-pink};
  --docsearch-highlight-color: #{$md-color-pink};
  --docsearch-icon-color: #{$md-color-pink};
  --docsearch-logo-color: #{$md-color-pink};
  --docsearch-key-color: #{$md-color-black};

  // Modal
  --docsearch-modal-background: #f5f6f7;
  --docsearch-footer-background: #ffffffa6;

  // Searchbox
  --docsearch-background-color: #{color.scale(
      $md-color-blue,
      $saturation: -90%,
      $lightness: 95%
    )};
  --docsearch-searchbox-focus-background: #ffffffa6;
  --docsearch-hit-highlight-color: #{color.scale(
      $md-color-pink,
      $lightness: 85%
    )};
    
  // Key
  --docsearch-key-gradient: linear-gradient(
    -225deg,
    #{md-color-black--light} 0%,
    #{md-color-black} 100%
  );
  --docsearch-key-shadow:
    inset 0 -2px 0 0 #{$md-color-blue}, inset 0 0 1px 1px #{$md-color-blue},
    0 2px 2px 0 #{$md-color-black--lighter};
  --docsearch-key-pressed-shadow:
    inset 0 0 1px 1px #{$md-color-blue}, 0 2px 2px 0 #{$md-color-black--lighter};

  font-size: 1.5rem;

  kbd {
    font-size: 1.2rem;
  }
}
