.MenuDropdown {
  &-title {
    cursor: pointer;

    .fa-caret-down {
      margin-left: 4px;
    }
  }

  &.active:after {
    content: '';
    width: 100%;
    transition: width 0.3s;
    height: 1px;
    display: block;
    background-color: white;
  }

  &-list {
    display: none;
    padding: 1.5em 1em 1em 1em;
    position: fixed;
    background-color: #002835;
    color: white;
    list-style: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 1px;

    &.visible {
      display: block;
    }
  }

  &-list-item {
    line-height: 2.2em;
    font-size: 0.9em;
  }

  &-list-item-link {
    &:hover,
    &.active {
      padding-bottom: 2px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
  }
}

@include break-to-device(tablet) {
  .MenuDropdown {
    &-title {
      cursor: default;

      svg {
        display: none;
      }
    }

    &.active:after,
    &:hover:after {
      width: 0%;
    }

    &-list {
      display: block;
      position: relative;
      top: 0;
      padding-top: 0.5em;
    }
  }
}
