.IconTable {
  width: 100%;
  padding: 1em;

  &-item {
    display: inline-block;
    width: 50%;
    height: 6em;
    border-left: 1px solid #e1e4e5;
    border-bottom: 1px solid #e1e4e5;
    padding: 1em;
    background-color: #eee;

    &:nth-child(-n + 2) {
      border-top: 1px solid #e1e4e5;
    }

    &:nth-child(even) {
      border-right: 1px solid #e1e4e5;
    }

    &:nth-child(4n),
    &:nth-child(4n-1) {
      background-color: white;
    }
  }

  &-item-icon {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 60px;

    img {
      width: 100%;
    }
  }

  &-item-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
    overflow: hidden;
    width: calc(100% - 5em);
    height: calc(100% - 2em);
  }
}

@media (max-width: 720px) {
  .IconTable-item {
    background-color: white;
    display: block;
    width: 100%;
    border-right: 1px solid #e1e4e5;

    &:nth-child(odd) {
      background-color: #eee;
    }
  }
}