@mixin reset-margin {
  margin: 0 0 0 0 !important;
}

.tabs-component {
  &-tabs {
    @include reset-margin;
    border: 0;
  }

  &-tab {
    @include reset-margin;
    background-color: #fff;
    transition: transform 0.3s ease;
    list-style: none;
    display: inline-block;
    width: 5em;
    text-align: center;
    border-bottom: solid 4px white;
    a {
      color: rgba(233, 78, 119, 0.8);
      &:hover {
        color: rgba(233, 78, 119, 1);
      }
    }
    &.is-active {
      margin: 0 0 0 0;
      border-bottom: solid 5px rgba(233, 78, 119, 0.8);
      a {
        color: $md-color-primary;
      }
    }
  }

  &-panels {
    border-top-left-radius: 0;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 0 6px 6px 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    padding: 1em 1em;
  }
}
