.alert {
  border-radius: 4px;
  padding: 25px 40px;
  color: #002835;
  line-height: 1.6;
  position: relative;
  
  &:before {
    vertical-align: middle;
    padding-right: .5em;
    font-size: 20px;
    position: absolute;
    top: 24px;
    left: 14px;
    color: #002835;
    font-family: 'FontAwesome';
  }
  
  &.alert-success {
    background-color: #bae8f5;
    
    &:before {
      content: '\f058';
    }
  }
  
  &.alert-info {
    background-color: #f4ede3;
    
    &:before {
      content: '\f05a';
    }
  }
  
  &.alert-warning {
    background-color: #f39e9e;
    
    &:before {
      content: '\f071';
    }
  }
}
