// ----------------------------------------------------------------------------
// Variables: typography
// ----------------------------------------------------------------------------

// Modular typographic scale
$ms-base: 1.6rem;
$ms-ratio: $major-third;

// ----------------------------------------------------------------------------
// Variables: breakpoints
// ----------------------------------------------------------------------------

// stylelint-disable unit-whitelist

// Device-specific breakpoints
$break-devices: (
  mobile: (
    portrait:  px2em(220px)  px2em(479px),
    landscape: px2em(480px)  px2em(719px)
  ),
  tablet: (
    portrait:  px2em(720px)  px2em(959px),
    landscape: px2em(960px)  px2em(1219px)
  ),
  screen: (
    small:     px2em(1220px) px2em(1599px),
    medium:    px2em(1600px) px2em(1999px),
    large:     px2em(2000px)
  )
);

// stylelint-enable unit-whitelist

// ----------------------------------------------------------------------------
// Variables: base colors
// ----------------------------------------------------------------------------

// Primary and accent colors
$md-color-primary:                    $clr-indigo-500 !default;
$md-color-accent:                     $clr-indigo-a200 !default;
$md-color-pink: #e94e77;

// Shades of black
$md-color-black:                      hsla(0, 0%, 0%, 0.87) !default;
$md-color-black--light:               hsla(0, 0%, 0%, 0.54) !default;
$md-color-black--lighter:             hsla(0, 0%, 0%, 0.26) !default;
$md-color-black--lightest:            hsla(0, 0%, 0%, 0.07) !default;
$md-color-black--transparent:         hsla(0, 0%, 0%, 0) !default;

// Shades of white
$md-color-white:                      hsla(0, 0%, 100%, 1) !default;
$md-color-white--light:               hsla(0, 0%, 100%, 0.7) !default;
$md-color-white--lighter:             hsla(0, 0%, 100%, 0.3) !default;
$md-color-white--lightest:            hsla(0, 0%, 100%, 0.12) !default;
$md-color-white--transparent:         hsla(0, 0%, 100%, 0) !default;

// ----------------------------------------------------------------------------
// Variables: sizing and spacing
// ----------------------------------------------------------------------------

// Icons
$md-icon-size:                        $ms-base * 1.5;
$md-icon-padding:                     $ms-base * 0.5;
$md-icon-margin:                      $ms-base * 0.25;

// Code blocks
$md-code-background:                  #002835;
$md-code-color:                       #282c34;

// Keystrokes
$md-keyboard-background:              #FCFCFC;
$md-keyboard-color:                   #555555;
