# This is a basic workflow to help you get started with Actions

name: Deploy the whole documentation

on:
  push:
    branches: [master, develop]
  workflow_dispatch:

jobs:
  prepare-matrix:
    name: Prepare matrix by getting the repo names from repositories.yml
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install yq
        run: |
          sudo apt-get update
          sudo apt-get install python python3-pip
          pip3 install yq
        shell: bash
      - name: Get repo names
        id: set-matrix
        run: |
          export REPOS=$(cat .repos/repositories.yml | yq -c '[.[]]')
          echo "::set-output name=repo::$REPOS"
    outputs:
      matrix: ${{ steps.set-matrix.outputs.repo }}

  deploy_framework:
    name: Deploy framework
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-west-1
    steps:
      - uses: actions/checkout@v2
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - uses: actions/setup-node@v1
        with:
          node-version: "12"
      - uses: ./.github/actions/deploy_fw_artifacts
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          S3_BUCKET: s3://docs.kuzzle.io
          CLOUDFRONT_ID: E3D6RP0POLCJMM
      - uses: ./.github/actions/deploy_fw_artifacts
        if: ${{ github.ref != 'refs/heads/master' }}
        with:
          S3_BUCKET: s3://docs-next.kuzzle.io
          CLOUDFRONT_ID: E2ZCCEK9GRB49U

  deploy_child_repo:
    name: Deploy child repo ${{ matrix.repo.repo_name }}-${{ matrix.repo.doc_version }}
    needs: [prepare-matrix, deploy_framework]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo: ${{ fromJson(needs.prepare-matrix.outputs.matrix) }}
    steps:
      - name: Recap of the build
        run: echo "Build and deploy documentation for ${{ matrix.repo.repo_name }}-${{ matrix.repo.doc_version }}"
      - uses: actions/checkout@v2
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - uses: actions/setup-node@v1
        with:
          node-version: "12"
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY }}
          name: id_rsa
          known_hosts: unnecessary
      - uses: ./.github/actions/deploy_repo
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          repo_name: ${{ matrix.repo.repo_name }}
          repo_version: ${{ matrix.repo.doc_version }}
          repo_branch: ${{ matrix.repo.stable }}
          REGION: us-west-2
          S3_BUCKET: docs.kuzzle.io
          CLOUDFRONT_ID: E3D6RP0POLCJMM
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - uses: ./.github/actions/deploy_repo
        if: ${{ github.ref != 'refs/heads/master' }}
        with:
          repo_name: ${{ matrix.repo.repo_name }}
          repo_version: ${{ matrix.repo.doc_version }}
          repo_branch: ${{ matrix.repo.dev }}
          REGION: us-west-2
          S3_BUCKET: docs-next.kuzzle.io
          CLOUDFRONT_ID: E2ZCCEK9GRB49U
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
